// Font
$mainFont                : 'Arial', Helvetica, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 16px;
$mainFontWeight          : 300;
$mainLineHeight          : 1.42;

$desktopWidth            : 1280px;
$smDesktopWidth          : 992px;
$tabletWidth             : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Main color
$default-color           : #ffffff;
$primary-yellow         : #fbd341;
$light-gray             : #f8f7f7;
$text-gray              : #3a3a3a;;
